{{- /* Structured data: Person + WebSite on the home page, Article on a post. */ -}}
{{- $person := dict
  "@type" "Person"
  "@id" (printf "%s#person" site.BaseURL)
  "name" site.Title
  "url" site.BaseURL
  "jobTitle" site.Params.jobTitle
  "email" site.Params.email
  "sameAs" (slice site.Params.github site.Params.linkedin site.Params.linktree)
-}}
{{- if .IsHome -}}
  {{- $website := dict
    "@type" "WebSite"
    "@id" (printf "%s#website" site.BaseURL)
    "name" site.Title
    "url" site.BaseURL
    "description" site.Params.description
    "publisher" (dict "@id" (printf "%s#person" site.BaseURL))
  -}}
  {{- $graph := dict "@context" "https://schema.org" "@graph" (slice $person $website) -}}
  <script type="application/ld+json">{{ $graph | jsonify | safeJS }}</script>
{{- else if eq .Kind "page" -}}
  {{- $article := dict
    "@context" "https://schema.org"
    "@type" "Article"
    "headline" .Title
    "description" (or .Description .Summary | plainify | truncate 300)
    "url" .Permalink
    "datePublished" (.Date.Format "2006-01-02")
    "dateModified" (.Lastmod.Format "2006-01-02")
    "keywords" (delimit (.Params.tags | default slice) ", ")
    "author" $person
  -}}
  <script type="application/ld+json">{{ $article | jsonify | safeJS }}</script>
{{- end -}}
